<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		  <a class="brand" href="#">taskViewer
        <i class="icon-display pull-left"></i>
      </a>
      <div class="nav-collapse collapse">
      
        <ul class="nav">
          <li>
            <a href="#projects" class="">Project
            <span class="up">0</span>
            </a>
          </li>
          <li><a href="#tasks" class="navbar-link disabled">Tasks(0)</a></li>
          <li><a href="#messages" class="navbar-link disabled">Messages(0)</a></li>
          <li><a href="#tickets" class="navbar-link disabled">Tickets(0)</a></li>
        </ul>
        
        <!--
        <div class="btn-group">
          <button class="btn">Projects(0)</button>
          <button class="btn">Tasks(0)</button>
          <button class="btn">Messages(0)</button>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span2">
      <form class="form-search">
        <div class="input-append">    
          <input id="searchData" type="text" class="span2 search-query" placeholder="Search">
          <button type="submit" class="btn">Seek</button>
        </div>
      </form>
    </div>
    <div class="pull-right">
      <div class="btn-group">
        <!--
        <button class="btn"><i class="icon-plus-sign"></i>Create New Project</button>
        -->
        <button class="btn"><i class="icon-cogs"></i>Options</button>
        <button class="btn"><i class="icon-remove"></i>Log out</button>
      </div>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="2"></li>
        <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
  -->
          <div id="activity_section" class="row">
          </div>
  <!--
        </li>
        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1"></li>
      </ul>
    </div>
  </div>
  -->
</div>
