<div id="contributions-calendar" class="txtalign-center">
  <div class="js-calendar-graph" data-url="/api/activity/year">
  </div>
  <br />
  <ul class="thumbnails">
    <li class="span2">
      <div class="thumbnail" data-url="/api/activity/week">
        <b>0</b>
        <small>changes for last week</small>
      </div>
    </li>
    <li class="span2">
      <div class="thumbnail" data-url="/api/activity/threedays">
        <b>0</b>
        <small>changes from  to </small>
      </div>
    </li>
    <li class="span2">
      <div class="thumbnail" data-url="/api/activity/day">
        <b>0</b>
        <small>changes for today</small>
      </div>
    </li>
  </ul>
</div>
