.txtalign-right{
  text-align: right;
}

.txtalign-left{
  text-align: left;
}

.txtalign-center{
  text-align: center;
}

/* container  general with rounf corner*/
.container-general {
  background-color: rgb(255, 255, 255);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.js-calendar-graph table td{
  box-sizing: border-box;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 10px;

  border: 2px solid white;
  background-color: #eee; 
}
.cell_wo{
  padding: 5px;
}

.cell_h{
  padding: 0px;
}

.cell:hover
{
  outline: 1px solid #666;
}


