.txtalign-right{
  text-align: right;
}

.txtalign-left{
  text-align: left;
}

.txtalign-center{
  text-align: center;
}

/* container  general with rounf corner*/
.container-general {
  background-color: rgb(255, 255, 255);
  border-radius: 4px 4px 4px 4px;
  border: 1px solid rgb(221, 221, 221);
  padding: 5px;
  /*box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);*/
  margin-bottom: 20px;
}

.docframe {
    position: relative;
    margin: 15px 0px;
    padding: 39px 19px 14px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px 4px 4px 4px;
}

/* padding for in-page bookmarks and fixed navbar */
section {
  padding-top: 30px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}

/* Separators (hr) */
.bs-docs-separator {
  margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
/*
.navbar-inverse > .navbar-inner {
    background-repeat: repeat-x;
    background-image: url("/img/web_sprite_bgs.png");
}

.nav > li > a {
    font-weight: bold;
    line-height: 1;
    color: rgb(187, 187, 187);
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.75);
}

.nav > li > a:focus {
    color: rgb(255, 255, 255);
}

*/


